
.searchInput, .searchBtn {
    margin-top: 2.5vh;  
    padding: 0;  
    display: grid;
    height: 5vh;
}

.search{
    margin-left: 15vw;
    display: flex;
    justify-content: center;
    width: 70vw;
    z-index: 10;
}

.searchInput {  
    width: 40vw;
    color: #666;  
    z-index: 10;
    flex-direction: row;
    border-radius: 5px 0 0 5px;
    border: 0 none; 
    text-align: center;
    background-color: whitesmoke;
}

.searchBtn {  
    color: white;
    top: 300px;
    z-index: 15;
    flex-direction: row;
    width: 10vw;  
    height: 5vh;
    border: 0 none;  
    border: 1px solid teal;
    background: teal;  
    border-radius: 0 5px 5px 0;
    padding: 10px;
    font-size: 15px;
    text-align: center;
  }
  
  

